
/* Full page styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 0;
    padding: 0;

    
}

body {
    background-image: url(../images/funky-lines.png);  
}

/* Navigation bar styles */
.navbar {
    background-color: white;
    height: 80px;
    width: 280px;
    float: right;
    text-align: center;
    
    

}

.navbar ul li {
    display: inline;
    list-style: none;
}

.navbar ul a {
    color: gray;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white; 
    font-size: 35px;
    text-align: center;
}

.namebox {
    min-width: 280px;
    height: 80px;
    background-color: #4aaaa5;
    float: left;
    margin-left: 300px;

}

/* Image styles */
img {
    height: 200px;
    width: 200px;
    float: left;
    padding: 15px;
    
    

    
    
}

/* Content styles */
p {
    line-height: 200%;
    float: right; 
    width: 900px;
    padding: 20px;
    
}

.content {
    background-color:#ffffff;
    margin: 100px;
    width: 960px;
    float: left;
    min-height: 100%;
    border: solid;
    border-color: #dddddd;
}

.submit {
    background-color: #4aaaa5;
}

/* contact page styles */
.formz {
    background-color:#ffffff;
    margin: 100px;
    width: 960px;
    float: left;
    min-height: 100%;
    border: solid;
    border-color: #dddddd;
    
}

.namel {
    width: 900px;
}

textarea {
    width: 900px;
    height: 200px;
}